*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

}
body{
  background-image: url('https://img.freepik.com/premium-vector/abstract-splashed-watercolor-textured-background_187069-11344.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}